    <nav class="navbar navbar-expand-md navbar-dark shadow" style="background-color: #1A4B7F; border-bottom: 3px solid white;">
  <div class="container">
    <a class="navbar-brand" href="#">Bloggie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button type="button" class="btn btn-outline-light rounded-0 me-2">Log In</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-light rounded-0">Sign Up</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
