{% extends 'layouts/base.twig' %}
{% block title %}My Blog{% endblock %}
{% block content %}
    <!-- Page content-->
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6">
                <div class="row">
                <a class="nav-link text-dark" href="/posts">< Back</a>
                
                    <!-- Post content-->
                    <article>
                    
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on {{ post.created_at|date('F j, Y') }} by {{post.name}}</div>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4 text-justify!" style="text-indent: 1.5em;white-space: pre-wrap;">{{post.content}}</p>
                        </section>
                    </article>
                <a class="nav-link text-dark" href="/posts">< Back</a>
            </div>
        </div>
    </div>
    <script>
        const password = document.querySelector("#password");
        const confirm_password = document.querySelector("#confirm-password");
        const password_match = document.querySelector("#password-match");

        function validatePassword() {
        if (password.value !== confirm_password.value) {
            confirm_password.setCustomValidity("Passwords do not match");
            password_match.textContent = "Passwords do not match";
        } else {
            confirm_password.setCustomValidity("");
            password_match.textContent = "";
        }
        }

        password.addEventListener("change", validatePassword);
        confirm_password.addEventListener("keyup", validatePassword);
    </script>
{% endblock %}
 
 



