{% extends 'layouts/base.twig' %}
{% block title %}My Blog{% endblock %}
{% block content %}
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Welcome to Bloggie!</h1>
                <p class="lead mb-0">Explore, inspire, and share your passion with the world.</p>
            </div>
        </div>
    </header>
    <!-- Page content-->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-7">
                <div class="row">
                    
                        {% for post in posts %}
                        <div class="col-md-6 mx-auto" style="width: 400px;">
                        <div class="card mb-4">
                            <a href="#!"><img class="card-img-top"
                            src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                            <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">{{post.title}}</h2>
                                <p class="card-text text-justify!" style="text-indent: 1.5em;">{{post.content}} ...</p>
                                <a class="btn btn-primary" href="#!">Read more →</a>
                            </div>
                        </div>
                        </div>
                        {% endfor %}
                    
                </div>
                
            </div>

        </div>
    </div>
    
{% endblock %}
 
 
